fullscreen = 1080px
less_fullscreen = 1079px
more_narrow = 801px
narrow = 800px
less_narrow = 799px
more_mobile = 501px
mobile = 500px
less_mobile = 499px

// -------

fixed_landscape = 480px
fixed_portrait = 320px