.navwrap.case_alone a {
	text-decoration: none
	font-size: fsize2
	text-transform: uppercase
	margin: 1rem
	padding 0.5rem
	border: 3px dashed black
	&:hover {
		text-transform: none
		font-variant: small-caps
	}
}