@import 'variables/typescale.styl'
@import 'variables/breakpoints.styl'
@import 'main/base.styl'
@import 'main/svg.styl'
@import 'main/containers.styl'

// -------

header, main, footer {
	@media screen and (min-width: fullscreen) {
		width: 66.67%
	}
	@media screen and (min-width: more_narrow) and (max-width: less_fullscreen) {
		width: 75%
	}
	margin: 0 auto
	text-align: center
}

// -------
.master-title {
	text-align: left
	font-size: fsize5
	margin: 3rem 0
	font-family: 'Alegreya SC', serif
}

.master-nav_note {
	font-size: fsize1
	font-style: italic
}

.master-nav {
	li a {
		font-size: fsize2
		text-transform: uppercase
		&:hover {
			text-transform: none
			font-variant: small-caps
		}
	}
}

.master-closer {
	@media screen and (min-width: more_narrow) {
		width: 33.33%
	}
	@media screen and (min-width: more_mobile) and (max-width: narrow) {
		width: fixed_landscape
	}
	@media screen and (max-width: mobile) {
		width: fixed_portrait
	}
	margin: 0 auto
	display: flex
	flex-direction: column
	&.case_landing {
		p {
			font-size: fsize1
		}
	}
}

.master-illustration {
	padding: 3rem 0
}

.master-finale {
	font-family: 'Alegreya SC', serif
}


// -------
* {
	font-family: 'Alegreya Sans', sans-serif
}